<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="intro-text">
                    <img src="/www/img/rack-app-logo.png" class="img-rounded img-responsive" alt="Cinque Terre">
                    <span class="name">Rack::App</span>
                    <hr class="star-light">
                    <span class="skills">Ruby Web Application framework - Fully BDD - Performance optimised</span>
                </div>

            </div>
        </div>
    </div>
</header>

<section id="example">
    <div class="container">
        <%= render 'sample_examples.html' -%>
    </div>
</section>

<section id="benchmark" class="success">
    <div class="container">
        <%= render 'benchmark.html.erb' -%>
    </div>
</section>

<section id="dependency">
    <div class="container">
        <%= render 'dependency.html.erb' -%>
    </div>
</section>

<section class="success">
    <div class="container">
        <%= render 'features.html.erb' -%>
    </div>
</section>

<section id="principles">
    <div class="container">
        <%= render 'principles.html' -%>
    </div>
</section>

<section class="success" id="about">
    <div class="container">
        <%= render 'about.html' -%>
    </div>
</section>

<section>
    <div class="container">
        <%= render 'companies.html' -%>
    </div>
</section>

<%#= render 'contact.html' -%>
